<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ad383b9fb6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white">
      <nav class="navbar navbar-expand-lg navbar-light p-3">

        <ul class="navbar-nav ml-auto" style="list-style: none; padding-left: 0;">
          <% if user_signed_in? %>
            <li class="mr-4"><%= link_to "Home", root_path, class: 'text-white' %></li>
            <li class="mr-4"><%= link_to "Users", users_path, class: 'text-white' %></li>
            <li class="mr-4"><%= link_to "Books", books_path, class: 'text-white' %></li>
            <li class="mr-5"><%= link_to "logout", destroy_user_session_path, method: :delete, class: 'text-white' %></li>
          <% else %>
            <li class="mr-4"><%= link_to "Home", root_path, class: 'text-white' %></li>
            <li class="mr-4"><%= link_to "About", homes_about_path,class: 'text-white' %></li>
            <li class="mr-4"><%= link_to "sign up", new_user_registration_path, class: 'text-white' %></li>
            <li class="mr-5"><%= link_to "login", new_user_session_path, class: 'text-white' %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
